@import (reference) "lesshat.less";

#portfolio {
	
	.slider {
		
		width: 99vw;
		margin: 20px auto;
		
		.item { margin-bottom: 60px; }
		
		.content-slider {
			
			list-style: none outside none;
		    padding-left: 0;
            margin: 0;
		
			&.cs-hidden {
				height: 1px;
				opacity: 0;
				filter: alpha(opacity=0);
				overflow: hidden;
			}
			
			li {				
				
				width: 400px;
				height: 220px;
				text-align: center;
				color: #FFF;
				
				img {
					
					width: 382px;
					height: 200px;
					margin: 10px auto 0;
					.box-shadow(0 0 10px rgba(0,0,0, 0.5));
					
				}
				
			}
			
			h3 {
				margin: 0;
				padding: 70px 0;
			}
			
		}
		
	}
	
}